/* Light scheme */
:root > * {
  --md-primary-fg-color:        #7a04ba;

  --md-accent-fg-color:         #d0c901;

}
/* Dark scheme */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #7a04ba;

  --md-accent-fg-color:         #d0c901;
}
